            /*=============== GOOGLE FONTS ===============*/
            /* import fonts from fonts.css file */
            
            @import url(./fonts.css);
            /* css variables */
            
            @import url(./partials/_variables.css);
            /* import global styling */
            
            @import url(./partials/_global.css);
            /* ======================== */
            
            @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
            /*=============== VARIABLES CSS ===============*/
            
             :root {
                --header-height: 3.5rem;
                /*56px*/
                /*========== Colors ==========*/
                /*Color mode HSL(hue, saturation, lightness)*/
                --primary-color-hue: 252;
                --dark-color-lightness: 17%;
                --light-color-lightness: 92%;
                --white-color-lightness: 100%;
                --color-white: #1C1C1C;
                --color-light: black;
                --color-gray: hsl(252, 15%, 65%);
                --color-primary: hsl(var(--primary-color-hue), 70%, 60%);
                --color-dark: hsl(252, 30%, 17%);
                --color-font: white;
                /* --color-font-dark: hsl(252, 30%, var(--dark-color-lightness));
        --color-font-light: hsl(252, 30%, var(--light-color-lightness)); */
                /*========== Font and typography ==========*/
                /*.5rem = 8px | 1rem = 16px ...*/
                --body-font: 'Rubik', sans-serif;
                --h1-font-size: 2.25rem;
                --h2-font-size: 1.75rem;
                --h3-font-size: 1.25rem;
                --normal-font-size: 1rem;
                --small-font-size: .875rem;
                --smaller-font-size: .7rem;
                /*========== Font weight ==========*/
                --font-medium: 400;
                --font-semi-bold: 600;
                /*========== Margins Bottom ==========*/
                /*.5rem = 8px | 1rem = 16px ...*/
                --m-0-5: .5rem;
                --m-0-75: .75rem;
                --m-1: 1rem;
                --m-1-5: 1.5rem;
                --m-2: 2rem;
                --m-2-5: 2.5rem;
                /*========== Card padding ==========*/
                --card-padding: 1.9rem 0.95rem;
                /*========== Border radius ==========*/
                --border-radius: 1rem;
                /*========== Box shadow ==========*/
                --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
            }
            /*========== Scroll Bar ==========*/
            
             ::-webkit-scrollbar {
                width: 0.6rem;
                background: var(--color-white);
            }
            
             ::-webkit-scrollbar-thumb {
                background: var(--color-primary);
                border-radius: .6rem;
            }
            /*========== Responsive Typography ==========*/
            
            @media screen and (max-width:992px) {
                 :root {
                    --h1-font-size: 1.75rem;
                    --h2-font-size: 1.5rem;
                    --h3-font-size: 1rem;
                    --normal-font-size: .938rem;
                    --small-font-size: .813rem;
                    --smaller-font-size: .6rem;
                }
            }
            /*========== Base ==========*/
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            html {
                scroll-behavior: smooth;
            }
            /* for enabling smooth scrolling in chrome*/
            /* chrome://flags/#smooth-scrolling */
            
            body,
            button,
            input,
            textarea {
                font-family: var(--body-font);
                font-size: var(--normal-font-size);
                color: var(--color-font);
            }
            
            body {
                background-color: var(--color-light);
                font-size: (--color-dark);
                line-height: 1.7;
                font-weight: var(--font-medium);
            }
            
            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
            
            ul {
                list-style: none;
            }
            
            a {
                text-decoration: none;
                color: var(--color-dark);
            }
            
            h1,
            h2,
            h3 {
                font-weight: var(--font-semi-bold);
            }
            
            h1 {
                font-size: var(--h1-font-size);
            }
            
            h2 {
                font-size: var(--h2-font-size);
            }
            
            h3 {
                font-size: var(--h3-font-size);
            }
            /*========== Layout ==========*/
            
            .container {
                max-width: 968px;
                margin: auto;
            }
            
            .row {
                display: flex;
                flex-wrap: wrap;
            }
            /*========== Reusable css classes ==========*/
            
            .section .container {
                padding-top: 3.9rem;
                padding-bottom: 4.75rem;
            }
            
            .section-title {
                font-size: var(--h1-font-size);
                margin-left: var(--m-0-75);
                margin-bottom: var(--m-2-5);
                text-align: center;
            }
            
            .padd-15 {
                padding-left: 15px;
                padding-right: 15px;
            }
            /*========== Buttons ==========*/
            
            .btn:focus {
                outline: 0;
            }
            
            .btn-default {
                color: white;
                vertical-align: middle;
                display: inline-block;
                background-color: var(--color-primary);
                transition: .6s;
                cursor: pointer;
                padding: .8rem 1.1rem;
                border-radius: 1.3rem;
            }
            
            .btn-default:hover {
                transform: scale(1.1) translateY(8px);
            }
            /*========== Header ==========*/
            
            .header {
                width: 100%;
                background-color: var(--color-light);
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
            }
            
            .header h2 {
                color: var(--color-font);
            }
            /*========== NAV ==========*/
            
            .nav {
                height: calc(var(--header-height) + 1.5rem);
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 3rem;
                color: var(--color-font);
            }
            
            .nav-logo {
                font-size: var(--h2-font-size);
                font-weight: var(--font-semi-bold);
                letter-spacing: 0.125rem;
                position: relative;
            }
            
            .nav-logo::after {
                position: absolute;
                content: '';
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 50%;
                background-color: var(--color-primary);
                top: 63%;
                right: -0.3rem;
            }
            
            .nav-menu {
                margin-left: auto;
            }
            
            .nav-list {
                display: flex;
                column-gap: 3rem;
            }
            
            .nav-link {
                font-weight: var(--font-medium);
                transition: .4s;
                color: var(--color-font);
            }
            
            .nav-link:hover {
                color: var(--color-primary);
            }
            
            .nav-close {
                align-items: right;
                font-size: 1rem;
                position: absolute;
                top: 1rem;
                right: 1.25rem;
                cursor: pointer;
            }
            
            .nav-btns {
                display: inline-flex;
                align-items: center;
                column-gap: 1rem;
            }
            
            .change-theme {
                font-weight: 600;
                margin-right: 20px;
                font-size: 1.5rem;
                cursor: pointer;
                transition: .4s;
            }
            
            .change-theme:hover {
                color: var(--color-primary);
                transform: scale(1.3);
            }
            
            .nav-toggle {
                cursor: pointer;
            }
            
            .nav-toggle .iconify:hover {
                color: var(--color-primary);
            }
            
            .nav-toggle img {
                max-width: 40px;
            }
            
            .nav-toggle .lni-menu {
                font-size: 1.5rem;
                font-weight: 900;
                border-color: var(--color-font);
                border-radius: 5px;
            }
            
            .nav-close,
            .nav-toggle {
                display: none;
            }
            
            .active-link {
                position: relative;
            }
            
            .active-link::before {
                content: '';
                position: absolute;
                bottom: -0.75rem;
                left: 45%;
                width: .5rem;
                height: .5rem;
                background-color: var(--color-primary);
                border-radius: 50%;
            }
            
            .scroll-header {
                box-shadow: 0 1px 4px rgba(165, 125, 125, 0.02);
            }
            /*========== Home ==========*/
            
            .home {
                display: flex;
                justify-content: center;
                height: 100vh;
                min-height: 100vh;
            }
            
            .home .intro {
                max-width: 1000px;
                text-align: center;
            }
            
            .home .intro img {
                margin-bottom: var(--m-1);
            }
            
            .home .intro .social-icons {
                margin-top: var(--m-1-5);
                margin-bottom: var(--m-2);
            }
            
            .home .intro .social-icons li {
                display: inline-block;
                transition: 0.4s;
            }
            
            .home .intro .social-icons li:hover {
                /* transform: translateY(-5px); */
                transform: scale(1.35);
            }
            
            .home .intro .social-icons li:not(:last-child) {
                margin-right: var(--m-1-5);
            }
            
            .home .intro .social-icons a {
                font-size: var(--h3-font-size);
                color: var(--color-font);
            }
            
            .scroll-down {
                position: absolute;
                bottom: var(--m-2-5);
                left: 0;
                width: 100%;
            }
            
            .scroll-down span {
                top: -3px;
            }
            
            .scroll-up {
                position: fixed;
                right: 50px;
                bottom: var(--m-2-5);
                z-index: 90;
                transition: .3s ease-in-out;
            }
            
            .scroll-up:hover {
                transform: translateY(-15px) scale(1.2);
            }
            
            .mouse:hover {
                transform: translateY(12px) scale(1.1);
            }
            
            .scroll-up i {
                font-size: 2rem;
                color: var(--color-primary);
            }
            
            .scroll-down a {
                color: var(--color-font);
            }
            
            .mouse-wrapper {
                font-size: var(--small-font-size);
                display: block;
                margin: auto;
                max-width: 100px;
                text-align: center;
            }
            
            @keyframes ani-mouse {
                0% {
                    top: 29%;
                }
                15% {
                    top: 50%;
                }
                50% {
                    top: 50%;
                }
                100% {
                    top: 29%;
                }
            }
            
            .mouse {
                border: 2px solid var(--color-primary);
                display: block;
                height: 1.75rem;
                width: 1.25rem;
                margin: auto;
                margin-top: var(--m-0-75);
                border-radius: var(--border-radius);
                position: relative;
                transition: .3s;
            }
            
            .mouse .wheel {
                background-color: var(--color-primary);
                border-radius: 50%;
                width: 0.25rem;
                height: 0.25rem;
                position: absolute;
                top: var(--m-0-5);
                left: 40%;
                display: block;
                animation: ani-mouse 2s linear infinite;
            }
            /*========== About ==========*/
            
            .about {
                align-items: center;
                margin-bottom: 80px;
            }
            
            .about .section-title {
                margin-top: 100px !important;
            }
            
            .about-container {
                display: grid;
                max-width: 700px;
            }
            
            .about-content {
                row-gap: 2.5rem;
            }
            
            .about-img {
                max-width: 220px;
                border-radius: 1.5rem;
                justify-self: center;
                margin-bottom: 60px;
            }
            
            .about-data {
                text-align: center;
            }
            
            .about-info {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.5rem;
                margin-bottom: 2rem;
            }
            
            .about-box {
                background-color: var(--color-white);
                border-radius: .7rem;
                padding: 2rem 1rem;
                margin-right: 1rem;
                margin-left: 1rem;
            }
            
            .about-icon {
                font-size: 2rem;
                color: var(--color-primary);
                margin-bottom: .5rem;
            }
            
            .about-title {
                font-size: var(--normal-font-size);
            }
            
            .about-subtitle {
                font-size: var(--small-font-size);
            }
            
            .about-description {
                margin-bottom: 2rem;
            }
            /*========== Services ==========*/
            
            .services .services-item {
                flex: 0 0 33.33%;
                max-width: 33.33%;
                display: flex;
                /* padding: 10rem 10rem; */
            }
            
            .services-item-inner p {
                opacity: 0;
                font-size: .2rem;
            }
            /* .services-item-inner h3 {
                margin-top: 2rem;
            } */
            
            .services .services-item .services-item-inner {
                border-radius: var(--border-radius);
                padding: var(--card-padding);
                text-align: center;
                transform: translateY(0);
                transition: 0.3s;
            }
            
            .services .services-item .services-item-inner:hover {
                transform: translateY(-0.625rem);
            }
            
            .services .services-item img {
                margin-bottom: var(--m-0-75);
            }
            
            .services-item h3 {
                margin-bottom: var(--m-0-5);
                color: white;
            }
            
            .services-item p {
                color: white;
            }
            
            .text {
                text-align: center;
                margin-top: var(--m-1-5);
            }
            
            .text a {
                color: var(--color-primary);
            }
            /*========== qualifications==========*/
            
            .qualification .section-title,
            .section-subtitle {
                display: flex;
                justify-content: space-evenly;
            }
            
            .qualification-container {
                max-width: 500px;
                margin-bottom: 10px;
            }
            
            .qualification-tabs {
                display: flex;
                justify-content: space-evenly;
            }
            
            .qualification .section-title {
                margin-bottom: 0;
            }
            
            .qualification-button {
                margin: auto;
                font-size: 1.3rem !important;
                font-weight: var(--font-medium);
                cursor: pointer;
                text-align: center;
                margin-bottom: 50px;
            }
            
            .qualification-button:hover {
                color: var(--color-primary);
            }
            
            .qualification-icon {
                font-size: 1.5rem !important;
                margin-right: var(--m-0-5);
            }
            
            .qualification-data {
                margin-left: 10px;
                margin-bottom: 30px;
                display: grid;
                grid-template-columns: 1fr max-content 1fr;
                column-gap: 1.5rem;
            }
            
            .qualification-data h3 {
                font-size: 1.3rem !important;
            }
            
            .qualification-data span {
                font-size: 1rem !important;
            }
            
            .qualification-title {
                font-size: var(--normal-font-size);
                font-weight: var(--font-semi-bold);
            }
            
            .qualification-subtitle {
                display: inline-block;
                font-size: var(--small-font-size);
                margin-bottom: var(--m-1);
            }
            
            .qualification-calender {
                font-size: .8rem !important;
                font-weight: var(--font-medium);
            }
            
            .qualification-calender {
                font-size: var(--smaller-font-size);
            }
            
            .qualification-rounder {
                margin-left: -20px;
                margin-right: 20px;
                display: inline-block;
                margin-top: 11px;
                width: 13px;
                height: 13px;
                background-color: var(--color-primary);
                border-radius: 50%;
            }
            
            .qualification-line {
                margin-left: -20px;
                display: block;
                width: 1px;
                height: 120%;
                background-color: var(--color-primary);
                transform: translate(6px, -7px);
            }
            
            .qualification [data-content] {
                display: none;
            }
            
            .qualification-active[data-content] {
                display: block;
            }
            
            .qualification-button.qualification-active {
                color: var(--color-primary);
            }
            /*========== Experience ==========*/
            
            .education {
                flex: 0 0 50%;
                max-width: 50%;
            }
            
            .experience {
                flex: 0 0 50%;
                max-width: 50%;
            }
            
            .timeline-box {
                flex: 0 0 100%;
                max-width: 100%;
            }
            
            .timeline {
                background-color: var(--color-white);
                padding: 1.9rem 0.95rem;
                border-radius: var(--border-radius);
                width: 100%;
                position: relative;
            }
            
            .timeline .timeline-item {
                position: relative;
                padding-left: 2.5rem;
                padding-bottom: 1.9rem;
            }
            
            .timeline .timeline-item:last-child {
                padding-bottom: 0;
            }
            
            .timeline .timeline-item::before {
                content: '';
                width: 1px;
                position: absolute;
                height: 100%;
                left: var(--m-0-5);
                background-color: var(--color-primary);
                top: 0;
            }
            
            .timeline .timeline-icon {
                position: absolute;
                left: -0.25rem;
                top: 0;
                font-size: 1.5rem;
                background-color: var(--color-white);
                color: var(--color-primary);
            }
            
            .timeline .time-date {
                font-size: var(--small-font-size);
                color: var(--color-gray);
            }
            
            .timeline .timeline-date .lni {
                margin-right: 0.3rem;
            }
            
            .timeline .timeline-title {
                margin: var(--m-0-75) 0;
            }
            /*========== Pricing ==========*/
            
            .prices {
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            
            .prices:nth-child(odd) {
                margin-top: 1.5rem;
            }
            
            .prices:nth-child(1) {
                padding-left: 15px;
            }
            
            .prices:nth-child(3) {
                padding-right: 15px;
            }
            
            .price-item {
                padding: var(--card-padding);
                background-color: var(--color-white);
                text-align: center;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
            }
            
            .price-item h3.plan {
                margin: var(--m-0-75) 0;
            }
            
            .prices p {
                margin-bottom: 1rem;
            }
            
            .price-item .price {
                font-size: var(--h1-font-size);
                font-weight: var(--font-semi-bold);
            }
            
            .price-item .price em {
                font-style: normal;
                font-size: var(--small-font-size);
                margin-right: var(--m-0-5);
                vertical-align: super;
            }
            
            .price-item .price span {
                font-size: var(--normal-font-size);
                margin-left: var(--m-0-75);
            }
            
            .price-item .btn {
                margin-top: var(--m-1);
            }
            
            .price-item.best {
                padding: 3.2rem 2.5rem;
                z-index: 100%;
                position: relative;
            }
            
            .price-item .badge {
                position: absolute;
                left: 0;
                top: 2.6rem;
                color: white;
                background-color: var(--color-primary);
                transform: rotate(-90deg);
                padding: 0.4rem 0.75rem;
                font-size: var(--small-font-size);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            /*========== Portfolio ==========*/
            
            .portfolio .portfolio-filter {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                margin-bottom: var(--m-2-5);
            }
            
            .portfolio .portfolio-filter button {
                border: none;
                background-color: transparent;
                font-weight: var(--font-semi-bold);
                text-transform: capitalize;
                margin: 0 var(--m-0-75);
                cursor: pointer;
                white-space: nowrap;
                color: var(--color-font);
                transition: 0.3s;
            }
            
            .portfolio .portfolio-filter button.active {
                color: var(--color-primary);
                position: relative;
            }
            
            .portfolio .portfolio-filter button.active::before {
                content: '';
                position: absolute;
                bottom: -1rem;
                left: 45%;
                width: 0.4rem;
                height: 0.4rem;
                background-color: var(--color-primary);
                border-radius: 50%;
            }
            
            .portfolio-item {
                flex: 0 0 33.33%;
                max-width: 33.33%;
                margin-bottom: var(--m-1-5);
            }
            
            .portfolio-item.hide {
                display: none;
            }
            
            .portfolio-item.show {
                display: block;
                animation: showItem 0.5s ease;
            }
            
            @keyframes showItem {
                0% {
                    transform: scale(0.6);
                    opacity: 0;
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            
            .portfolio-item-inner {
                position: relative;
                overflow: hidden;
                border-radius: var(--border-radius);
            }
            
            .portfolio-item .mask {
                background-color: rgba(0, 0, 0, 0.8);
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.3s;
            }
            
            .portfolio-item-inner:hover .mask {
                opacity: 0.9;
            }
            
            .portfolio-item .term {
                color: white;
                background: var(--color-primary);
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
                position: absolute;
                top: 0;
                left: var(--m-0-5);
                font-size: var(--small-font-size);
                display: inline block;
                transform: translateY(-40px);
                padding: 0.19rem 0.625rem;
                transition: 0.3s;
            }
            
            .portfolio-item h3 {
                color: white;
                font-size: 1.25rem;
                margin: 0 0 0.98rem;
                padding: 0 1.25rem;
                position: absolute;
                top: 3.75rem;
                transition: 0.3s;
                transform: translateY(30px);
                opacity: 0;
            }
            
            .portfolio-item .more-button {
                color: white;
                position: absolute;
                bottom: var(--m-1-5);
                left: var(--m-1-5);
                font-size: 1.6rem;
                display: block;
                background: var(--color-primary);
                height: 2.5rem;
                width: 2.5rem;
                cursor: pointer;
                border-radius: 50%;
                text-align: center;
                line-height: 28px;
                transition: 0.3s;
                transform: translateY(50px);
                opacity: 0;
            }
            
            .portfolio-item-inner:hover h3,
            .portfolio-item-inner:hover span {
                opacity: 1;
                transform: translateY(0);
            }
            /* ================== services ============ */
            /* .project-area {
                padding: 4rem 0;
            }
            
            .button-label {
                color: var(--color-font);
            }
            
            .project-area .button-group {
                margin-bottom: 3rem;
            }
            
            .project-area .button-group button {
                background: transparent;
                border: none;
                font: normal 500 16px/130px var(--roboto);
                text-transform: uppercase;
                justify-content: center;
                transition: 0.3s;
            }
            
            .project-area .button-group button+button {
                padding-left: 0;
                margin-left: 3rem;
            }
            
            .project-area .grid .our-project>.title h4 {
                font: normal 700 25px/12px var(--roboto);
            }
            
            .project-area .grid .our-project .img a:hover img {
                filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
            } */
            /*========== Testimonial ==========*/
            
            .testimonial-wrapper {
                max-width: 700px;
                margin: auto;
            }
            
            .testimonial-item {
                padding: 0 1.25rem 1.25rem;
                text-align: center;
            }
            
            .testimonial-item .thumb {
                border-radius: 50%;
                overflow: hidden;
                height: 5.6rem;
                width: 5.6rem;
                margin: 0 auto;
            }
            
            .testimonial-item h3 {
                margin-top: var(--m-0-75);
            }
            
            .testimonial-item .subtitle {
                color: var(--color-font);
            }
            
            .comment {
                background: var(--color-white);
                padding: var(--card-padding);
                margin-top: var(--m-1);
                border-radius: var(--border-radius);
            }
            
            .swiper-pagination {
                position: initial;
                margin-top: var(--m-1);
            }
            
            .swiper-pagination-bullet {
                width: 0.5rem;
                height: 0.375rem;
                background-color: var(--color-primary);
                opacity: 1;
            }
            
            .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0.2rem
            }
            
            .swiper-pagination-bullet-active {
                width: 01.2rem;
                height: 0.37rem;
                border-radius: .5rem;
            }
            /*========== Blog ==========*/
            
            .blog-item {
                flex: 0 0 33.33%;
                max-width: 33.33%;
                display: flex;
            }
            
            .blog-item .inner {
                background: var(--color-white);
                overflow: hidden;
                border-radius: var(--border-radius);
                transform: translateY(0);
                transition: .3s;
            }
            
            .blog-item .inner:hover {
                transform: translateY(-0.9rem);
            }
            
            .blog-item .thumb {
                position: relative;
                overflow: hidden;
            }
            
            .blog-item .thumb img {
                transform: scale(1);
                transition: 0.3s;
            }
            
            .blog-item .thumb img:hover {
                transform: scale(1.1);
            }
            
            .blog-item .category {
                background: var(--color-primary);
                border-bottom-left-radius: 0.98rem;
                border-bottom-right-radius: 00.98rem;
                color: white;
                font-size: var(--small-font-size);
                padding: 0.12rem 0.5rem;
                position: absolute;
                left: 1.25rem;
                top: 0;
                z-index: 1;
            }
            
            .blog-item .details {
                padding: 1.25rem;
            }
            
            .blog-item .details .title {
                line-height: 1.2;
            }
            
            .blog-item .details .title a {
                color: var(--color-font);
            }
            
            .blog-item .details .title a:hover {
                color: var(--color-primary);
            }
            
            .blog-item .meta {
                font-size: var(--small-font-size);
                color: var(--color-font);
                margin-top: 0.5rem;
            }
            
            .blog-item .meta li {
                display: inline-block;
            }
            
            .blog-item .meta li:not(:last-child) {
                margin-right: 0.6rem;
            }
            
            .blog-item .meta li::after {
                content: '';
                background: var(--color-gray);
                border-radius: 50%;
                display: inline-block;
                height: 0.19rem;
                width: 0.19rem;
                margin-left: 0.6rem;
                vertical-align: middle;
            }
            
            .blog-item .meta li:last-child::after {
                display: none;
            }
            /* =============== contact 2 ==============     */
            /* ============== social media ============== */
            
            .contact-container {
                display: grid;
                grid-template-columns: 300px 340px;
                column-gap: 6rem;
                justify-content: center;
                align-items: center;
            }
            
            .contact-card {
                background-color: var(--color-white);
                padding: 2rem 1rem;
                border-radius: .5rem;
                text-align: center;
            }
            
            .contact-card a {
                color: var(--color-font);
            }
            
            .contact-card-icon {
                font-size: 1.5rem;
            }
            
            .contact-info {
                display: grid;
                row-gap: 1rem;
            }
            
            .contact-container button {
                border: none;
            }
            
            .contact-button,
            .contact-card-data {
                font-size: var(--small-font-size);
            }
            
            .contact-card-data {
                display: block;
            }
            
            .contact-card-title {
                font-size: var(--normal-font-size);
                font-weight: 500;
            }
            
            .input-container {
                position: relative;
                margin-bottom: .6rem;
                /* transform: translateY(10px); */
            }
            /* ============== social media end============== */
            /* ============== input ============== */
            
            .input {
                width: 100%;
                border: 3px solid var(--color-font);
                background-color: var(--color-light);
                padding: .6rem 1.2rem;
                font-weight: var(--font-medium);
                font-size: var(--normal-font-size);
                letter-spacing: .5px;
                border-radius: .50rem;
                outline: none;
                transition: .3s;
                opacity: 40%;
            }
            
            .input-container .textarea {
                padding-bottom: 140px;
            }
            
            .input-container label {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-100%);
                padding: 0 .4rem;
                font-size: .9rem;
                font-weight: 500;
                pointer-events: none;
                z-index: 99;
                transition: .5s;
            }
            
            .input-container.text-area label {
                top: 1rem;
                transform: translateY(0);
            }
            
            .input-container span {
                position: absolute;
                top: 0;
                left: 25px;
                color: transparent;
                transform: translateY(-50%);
                font-size: var(--small-font-size);
                padding: 0 .4rem;
                pointer-events: none;
            }
            
            .input-container span::before,
            .input-container span::after {
                content: '';
                position: absolute;
                width: 10%;
                height: 5px;
                opacity: 0;
                background-color: var(--color-light);
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
                z-index: 100;
            }
            
            .input-container span::before {
                left: 50%;
                transform: translateX(-40px);
            }
            
            .input-container span::after {
                right: 50%;
                transform: translateX(-40px);
            }
            
            .input-container.focus label {
                top: 0;
                transform: translateY(-50%);
                left: 25px;
                font-size: var(--smaller-font-size);
            }
            
            .input-container.focus span::before,
            .input-container.focus span::after {
                width: 45%;
                opacity: 1;
                transform: translateX(-5px);
            }
            /* ============== input end============== */
            /* #create-account-form {
            width: 400px;
            padding: 20px;
            text-transform: uppercase;
            background-color: #fff;
        } */
            /* .input-group {
            margin: 20px 0;
            position: relative;
        }
        
        .input-group label {
            display: inline-block;
            margin-bottom: 5px;
        }
        
        .input-group input {
            display: block;
            width: 100%;
            padding: 10px;
        }
         */
            
            .error input {
                border: 3px red solid;
            }
            
            .success input {
                border: 3px green solid;
            }
            
            .error #comment {
                border: 3px red solid;
            }
            
            .success #comment {
                border: 3px green solid;
            }
            
            .input-group i {
                position: absolute;
                right: 10px;
                top: 14px;
                visibility: hidden;
            }
            
            .success i.fa-check-circle {
                visibility: visible;
                color: green;
            }
            
            .error i.fa-exclamation-circle {
                visibility: visible;
                color: red;
            }
            
            .input-group p {
                font-size: 13px;
                color: red;
                visibility: hidden;
            }
            
            .error p {
                visibility: visible;
            }
            /* .btn {
width: 100%;
padding: 10px;
font-size: 20px;
background-color: chocolate;
color: #fff;
text-transform: uppercase;
border: none;
}  */
            /*========== Footer ==========*/
            
            .footer {
                padding: 40px 0;
            }
            
            .footer-text {
                text-align: center;
            }
            /*========== Customize Theme ==========*/
            
            .background h5 {
                font-size: .8rem !important;
            }
            
            .customize-theme {
                background: rgba(0, 0, 0, .6);
                height: 100vh;
                width: 100vw;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                text-align: center;
                display: grid;
                place-items: center;
                font-size: var(--small-font-size);
                display: none;
                /* transform: translateX(100vw); */
                /* transition: .4s ease-in-out; */
            }
            
            .customize-theme .card {
                background: var(--color-white);
                padding: 2rem;
                border-radius: var(--border-radius);
                width: 60%;
                max-width: 600px;
                transition: .2s ease-in-out;
                margin-top: 50px;
            }
            /* .customize-theme .card h2 {
            margin-top: 5px;
        } */
            
            .customize-theme .card .btn {
                border: none;
                margin-top: 30px;
                cursor: pointer;
                /* margin-bottom: 5px; */
            }
            
            .customize-theme .font-size {
                margin-top: var(--m-2-5);
            }
            
            .customize-theme h3 {
                margin-bottom: 10px;
            }
            
            .customize-theme .font-size>div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--color-light);
                padding: .6rem 1rem;
                border-radius: var(--border-radius);
            }
            
            .customize-theme .choose-size {
                background: var(--color-primary);
                height: 0.3rem;
                width: 100%;
                margin: 0 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .customize-theme .choose-size span {
                width: 1rem;
                height: 1rem;
                background: var(--color-primary);
                border-radius: 50%;
                cursor: pointer;
            }
            
            .customize-theme .choose-size span.active {
                background: var(--color-primary);
                transform: scale(1.5);
                border: white solid;
            }
            
            .customize-theme .color {
                margin-top: var(--m-2);
            }
            
            .customize-theme .choose-color {
                background: var(--color-light);
                border-radius: var(--border-radius);
                padding: .8rem 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .customize-theme .choose-color span {
                width: 1.8rem;
                height: 1.8rem;
                background: var(--color-primary);
                border-radius: 50%;
                cursor: pointer;
            }
            
            .customize-theme .choose-color span:nth-child(1) {
                background: hsl(252, 75%, 60%);
            }
            
            .customize-theme .choose-color span:nth-child(2) {
                background: hsl(52, 75%, 60%);
            }
            
            .customize-theme .choose-color span:nth-child(3) {
                background: hsl(352, 75%, 60%);
            }
            
            .customize-theme .choose-color span:nth-child(4) {
                background: hsl(152, 75%, 60%);
            }
            
            .customize-theme .choose-color span:nth-child(5) {
                background: hsl(202, 75%, 60%);
            }
            
            .customize-theme .choose-color span:nth-child(6) {
                background: hsl(28.71, 75%, 60%);
            }
            
            .customize-theme .choose-color span:nth-child(7) {
                background: hsl(332.27, 75%, 60%);
            }
            
            .customize-theme .choose-color span.active {
                border: 5px solid white;
            }
            
            .customize-theme .background {
                margin-top: var(--m-2);
            }
            
            .customize-theme .choose-bg {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
            /* .customize-theme .background {
            max-width: 400px;
            justify-self: center;
        } */
            
            .customize-theme .choose-bg>div {
                padding: 1rem;
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                border-radius: var(--border-radius);
                cursor: pointer;
            }
            
            .customize-theme .choose-bg>div.active {
                border: 2px solid var(--color-primary);
            }
            
            .customize-theme .choose-bg .bg-1 {
                background: hsl(252, 30%, 92%);
                color: hsl(252, 30%, 17%);
            }
            
            .customize-theme .choose-bg .bg-2 {
                background: hsl(210, 34.38%, 12.55%);
                color: white;
            }
            
            .customize-theme .choose-bg .bg-3 {
                background: hsl(252, 30%, 10%);
                color: white;
            }
            
            .customize-theme .choose-bg>div span {
                content: '';
                width: 1.4rem;
                height: 1.4rem;
                border: 2px solid var(--color-gray);
                border-radius: 50%;
                padding: 10px 10px;
            }
            
            .customize-theme .choose-bg .bg-1 {
                background: #e7e4f1;
            }
            
            .customize-theme .choose-bg .bg-2 {
                background: #26272C;
            }
            
            .customize-theme .choose-bg .bg-3 {
                background: black;
            }
            
            .customize-theme .choose-bg>div.active span {
                background: var(--color-primary);
            }
            /*========== Media Queries ==========*/
            
            @media only screen and (max-width:1200px) {
                .customize-theme .card {
                    width: 50vw;
                }
            }
            
            @media only screen and (max-width:968px) {
                .about-content,
                .about-img {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .about-img {
                    text-align: center;
                    margin-bottom: var(--m-2-5);
                }
                .prices,
                .services .services-item {
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: var(--m-2-5);
                }
                .price-item.best {
                    padding: var(--card-padding);
                }
                .prices:nth-child(odd) {
                    margin-top: 0;
                }
                .prices:nth-child(1) {
                    padding-right: 15px;
                }
                .prices:nth-child(2) {
                    padding-right: 15px;
                    padding-left: 15px;
                }
                .prices:nth-child(3) {
                    padding-left: 15px;
                }
                .customize-theme .card {
                    width: 58vw;
                }
            }
            
            @media only screen and (max-width:768px) {
                body {
                    margin: var(--header-height) 0 0 0;
                }
                .container {
                    max-width: 568px;
                }
                .nav {
                    height: var(--header-height);
                }
                .nav-list {
                    flex-direction: column;
                    row-gap: 1.5rem;
                }
                .nav-menu {
                    position: fixed;
                    background: var(--color-white);
                    width: 60%;
                    height: 100%;
                    top: 0;
                    right: -100%;
                    padding: 4rem 0 0 3rem;
                    border-radius: 1rem 0 0 1rem;
                    z-index: 100;
                    transition: 0.3s;
                }
                .active-link::before {
                    content: '';
                    position: absolute;
                    bottom: .3rem;
                    left: -20px;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: var(--color-primary);
                    border-radius: 50%;
                }
                .nav-item a {
                    font-weight: 500;
                }
                /* show menu */
                .show-menu {
                    right: 0;
                }
                .nav-close .lni-close {
                    font-weight: 900;
                }
                .nav-close,
                .nav-toggle {
                    display: inline-flex;
                }
                .prices,
                .education,
                .experience,
                .services .services-item,
                .about-content .about-text,
                .about-content .skills {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .fact-item,
                .blog-item,
                .portfolio-item {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                .about-content .about-text {
                    margin-bottom: var(--m-1-5);
                }
                .blog-item,
                .education {
                    margin-bottom: var(--m-2-5);
                }
                .customize-theme .card {
                    width: 75vw;
                }
                .contact-container {
                    grid-template-columns: 360px;
                    row-gap: 3rem;
                }
            }
            
            @media only screen and (max-width:576px) {
                .blog-item,
                .portfolio-item {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .blog-item .inner,
                .portfolio-item-inner {
                    max-width: 380px;
                    margin: 0 auto;
                }
                .timeline {
                    padding: 25px 20px;
                }
                .timeline .timeline-item {
                    padding-left: 35px;
                    padding-bottom: 20px;
                }
                .customize-theme .card {
                    width: 96vw;
                    padding: 1rem;
                }
                .qualification-data {
                    margin-left: 40px;
                }
                .qualification-rounder {
                    margin-right: 40px;
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    background-color: var(--color-primary);
                    border-radius: 70%;
                }
                .qualification-line {
                    margin-right: 40px;
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: var(--color-primary);
                    transform: translate(6px, -7px);
                }
                .scroll-up {
                    right: 20px;
                }
                .about-box {
                    background-color: var(--color-white);
                    border-radius: .7rem;
                    padding: 1.5rem 1rem;
                    margin-right: .5rem;
                    margin-left: .5rem;
                }
            }
            
            @media only screen and (max-width:320px) {
                .fact-item {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            
            @media only screen and (max-width:576px) {}
            
            @media only screen and (max-width:320px) {}
            
            @media only screen and (max-width:320px) {}
            
            @media only screen and (max-width:320px) {}
            
            @media only screen and (max-width:320px) {}